.tiptap {
  > * + * {
    margin-top: 0.75em;

    &:focus {
      /* Add this block to specifically remove focus styles */
      outline: none;
    }

    outline: none; /* Add this line to remove the focus outline */
  }

  ul,
  ol {
    padding: 0 1rem;
  }
}

.bubble-menu {
  display: flex;
  background-color: #eeeeee;
  padding: 0.2rem;
  border-radius: 0.5rem;

  button {
    border: none;
    background: none;
    color: #fff;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 0 0.2rem;
    opacity: 0.6;

    &:hover,
    &.is-active {
      opacity: 1;
    }
  }
}
